<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
    
    <h3>Using CSS to style an HTML Form</h3>
    
    <div>
      <form action="/" method="post">
        <label for="nome">Login</label>
        <input type="text" id="nome" name="nome" placeholder="Seu login..">
    
        <label for="senha">Senha</label>
        <input type="text" id="senha" name="senha" placeholder="Sua senha..">
      
        <input class="button" type="submit" value="Submit">
      </form>
    </div>
    
    </body>
</html>
    
